.svg1{
    background: #dcf2e4;
    width: 200px;
    height: 300px;
    display:inline-block;
    position: relative;
}
.svg2 {
	background: #dcf2e4;
    width: 200px;
    height: 300px;
    display:inline-block;
    position: relative;
}
.svg3 {
	background: #dcf2e4;
    width: 200px;
    height: 300px;
    display:inline-block;
    position: relative;
}
.svg4 {
	background: #dcf2e4;
    width: 200px;
    height: 300px;
    display:inline-block;
    position: relative;
}
.svg5 {
	    background: #dcf2e4;
    width: 200px;
    height: 300px;
    display:inline-block;
    position: relative;
}
.svg6 {
	    background: #dcf2e4;
    width: 200px;
    height: 300px;
    display:inline-block;
    position: relative;
}
.svg7 {
	    background: #dcf2e4;
    width: 200px;
    height: 300px;
    display:inline-block;
    position: relative;
}
